@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    overflow: hidden;
}

#text-container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
}

#static-text {
    display: block;
}

#dynamic-text {
    display: inline-block;
    white-space: nowrap;
}

#cursor {
    display: inline-block;
    width: 1px;
    height: 1em;
    background-color: black;
    vertical-align: center;
}

@keyframes blink {
    0%, 100% { background-color: black; }
    50% { background-color: transparent; }
}
