body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.new-front-page_brands-wrapper {
    background-color: #333;
    padding: 2rem;
    min-height: 100vh; /* Ensure the content fills the viewport */
    display: flex;
    flex-direction: column;
    justify-content: top; /* vertically */
}

.new-front-page_brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    color: white;
    align-items: stretch; /* Ensure both columns are the same height */
}

.new-front-page_brands_redtext {
    background-color: #12a473;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-size: 16px;
    margin: 0;
}

.new-front-page_brands_text {
    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-front-page_brands_header {
    font-size: 24px;
    margin-bottom: 10px;
}

.new-front-page_brands_body {
    font-size: 12px;
    color: #ddd;
}

.new-front-page_brands_logos {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px; /* Add some space above the logos */
}

.new-front-page_brands_logos-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.new-front-page_brands_logos-row img {
    max-height: 70px;
    margin: 10px;
}

@media (max-width: 768px) {
    .new-front-page_brands {
        grid-template-columns: 1fr;
    }

    .new-front-page_brands_redtext {
        text-align: left;
        margin: 0 0 20px 0;
    }
}

@media (min-width: 1200px) {
    .new-front-page_brands-wrapper {
        padding: 0 20px;
    }
}

